@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@0;1&family=Smooch+Sans:wght@100..900&display=swap");

:root {
  --ourPrimary: #2b559a;
  --Logotext: #0d2061;
}
.dark {
  background-color: rgba(0, 0, 0, 0.486);
}
.light {
  background-color: white;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Smooch Sans", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Smooch Sans", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* My Header CSS  */

nav ul li,
nav ul div {
  padding: 10px;
  color: var(--ourPrimary);
  border-radius: 20px;
  min-width: 70px;
  text-align: center;
  transition: 0.3s ease-in;
}
nav ul li:hover,
nav ul div:hover:not(.sign-up) {
  text-decoration: underline;
}

.sign-up {
  background: var(--ourPrimary);
  color: white;
}
.logo-text {
  font-size: 45px;
  color: var(--Logotext);
}
.fill-current {
  color: var(--ourPrimary);
}
.header {
  z-index: 99999;
  background: transparent;
  color: var(--ourPrimary);
}

/* End of CSS for the header  */
/* hero section  sliders */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  height: 550px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.slide-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.317);
  font-size: 45px;
  text-align: center;
  color: white;
  text-shadow: 1px 2px 5px var(--ourPrimary);
  flex-direction: column;
}

/* hero section ends here  */

/* Biography section starts here */
.slider-container {
  width: 100%;
  height: 450px;
  padding: 0 150px;
  overflow: hidden;
}
.slider-content {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  padding: 20px 0;
}
.card-img-overlay {
  color: white;
  position: absolute;
  bottom: 0;
  padding-top: 20px;
  padding: 20px;
  background-image: linear-gradient(to top, #184dd2a9, rgba(0, 0, 0, 0.125));
  transform: translateY(70px);
  transition: 0.3s ease;
}
.card1 {
  display: inline-block;
  height: 400px;
  overflow: hidden;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.333);
  transition: 0.3s ease-in;
  position: relative;
}
.card-img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
.swiper-button-next{
  right: 5px;
}

.swiper-button-prev {
  left: 5px;
}

.swiper-button-prev,
.swiper-button-next
 {
  color: var(--ourPrimary);
  transition: 0.2s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--Logotext);
  background: transparent;
}

.swiper-pagination2 {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.swiper-pagination2-bullet {
  background-color: var(--ourPrimary);
}

.swiper-pagination2-bullet-active {
  background-color: var(--Logotext);
}
.mybtn-prev, .mybtn-next{
  background: none;
  border: none;
  font-size: 30px;
  position: relative;
  z-index: 3;
}
.mybtn-next i, .mybtn-prev i{
  color: var(--principal-color);
  background: white;
  padding: 10px 15px;
  border-radius: 30px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.217), 
              0 1.2px 2px rgba(0, 0, 0, 0.518), 
              1px 0.6px 2px rgba(0, 0, 0, 0.096),
              -1px 0.6px 2px rgba(0, 0, 0, 0.094);
}

.mybtn-next{
  left: -30px;
}
.mybtn-prev{
  right: -30px;
}


.mybtn-next:hover i, .mybtn-prev:hover i{
  background: rgb(50, 46, 65);
  color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.217), 
              0 1.2px 2px rgba(0, 0, 0, 0.518), 
              1px 0.6px 2px rgba(0, 0, 0, 0.096),
              -1px 0.6px 2px rgba(0, 0, 0, 0.094);
}

#biography{
  background-image: url("/assets/images/fumes.jpg");
  background-attachment: fixed;

}
/* Biography Section Ends Here  */




/* Login Page CSS Starts from Here  */

.loginSection{
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  background: linear-gradient(to right, #2b569a11, #2b569a40);
  padding: 100px 40px;
}
.img-div{
  width: 50%;
  min-height: 450px;
  height: 100%;
  object-fit: cover;
}
.img-div img{
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.container1{
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  align-self: center;
}

.container1 p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container1 span{
  font-size: 12px;
}

.container1 a{
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container1 button{
  background-color: var(--ourPrimary);
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container1 button.hidden{
  background-color: transparent;
  border-color: #fff;
}

.container1 form{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container1 input, .container1 select{
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in1{
  left: 0;
  width: 50%;
  z-index: 2;
}

.container1.active .sign-in1{
  transform: translateX(100%);
}

.sign-up1{
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container1.active .sign-up1{
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move{
  0%, 49.99%{
      opacity: 0;
      z-index: 1;
  }
  50%, 100%{
      opacity: 1;
      z-index: 5;
  }
}

.social-icons{
  margin: 20px 0;
}

.social-icons a{
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  /* border-radius: 150px 0 0 100px; */
  z-index: 3;
}

.container1.active .toggle-container{
  transform: translateX(-100%);
  /* border-radius: 0 150px 100px 0; */
}

.toggle{
  background-color: #512da8;
  height: 100%;
  background: linear-gradient(to right, var(--ourPrimary), var(--Logotext));
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container1.active .toggle{
  transform: translateX(50%);
}

.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left{
  transform: translateX(-200%);
}

.container1.active .toggle-left{
  transform: translateX(0);
}

.toggle-right{
  right: 0;
  transform: translateX(0);
}

.container1.active .toggle-right{
  transform: translateX(200%);
}

.toggle button{
  background: transparent;
  border: 1px solid white;
}
/* Login Page CSS Ends Here  */



/* ===== Responsivenss starts here ================= */
/* Mobile menu styling */
#mobileMenu {
  display: none;
  background-color: #097886;
}

#mobileMenu a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

/* Media query for small screens */
@media screen and (max-width: 767px) {
  ul#navList {
    display: none;
  }

  ul#mobileMenu {
    display: block;
  }
  #lg-menu {
    display: none;
  }
  /* Centering the mobile menu button */
  #mobileMenuBtn {
    display: block;
    margin: 0 auto;
  }
}

/* ===== Responsivenss starts here ================= */
