@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@0;1&family=Smooch+Sans:wght@100..900&display=swap");

:root {
  --ourPrimary: #2b559a;
  --Logotext: #0d2061;
}
.dark {
  background-color: rgba(0, 0, 0, 0.486);
}
.light {
  background-color: white;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Smooch Sans", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Smooch Sans", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* My Header CSS  */

nav ul li,
nav ul div {
  padding: 10px;
  color: var(--ourPrimary);
  border-radius: 20px;
  min-width: 70px;
  text-align: center;
  transition: 0.3s ease-in;
}
nav ul li:hover,
nav ul div:hover:not(.sign-up) {
  text-decoration: underline;
}

.sign-up {
  background: var(--ourPrimary);
  color: white;
}
.logo-text {
  font-size: 45px;
  color: var(--Logotext);
}
.fill-current {
  color: var(--ourPrimary);
}
.header {
  z-index: 9999;
  background: transparent;
  color: var(--ourPrimary);
}

/* End of CSS for the header  */
/* hero section  sliders */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  height: 550px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.slide-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.317);
  font-size: 45px;
  text-align: center;
  color: white;
  text-shadow: 1px 2px 5px var(--ourPrimary);
  flex-direction: column;
}

/* hero section ends here  */

/* Biography section starts here */
.slider-container {
  width: 100%;
  height: 450px;
  padding: 0 150px;
  overflow: hidden;
}
.slider-content {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  padding: 20px 0;
}
.card-img-overlay {
  color: white;
  position: absolute;
  bottom: 0;
  padding-top: 20px;
  padding: 20px;
  background-image: linear-gradient(to top, #184dd2a9, rgba(0, 0, 0, 0.125));
  transform: translateY(70px);
  transition: 0.3s ease;
}
.card1 {
  display: inline-block;
  height: 400px;
  overflow: hidden;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.333);
  transition: 0.3s ease-in;
  position: relative;
}
.card-img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
.swiper-button-next{
  right: 5px;
}

.swiper-button-prev {
  left: 5px;
}

.swiper-button-prev,
.swiper-button-next
 {
  color: var(--ourPrimary);
  transition: 0.2s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--Logotext);
  background: transparent;
}

.swiper-pagination2 {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.swiper-pagination2-bullet {
  background-color: var(--ourPrimary);
}

.swiper-pagination2-bullet-active {
  background-color: var(--Logotext);
}
.mybtn-prev, .mybtn-next{
  background: none;
  border: none;
  font-size: 30px;
  position: relative;
  z-index: 3;
}
.mybtn-next i, .mybtn-prev i{
  color: var(--principal-color);
  background: white;
  padding: 10px 15px;
  border-radius: 30px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.217), 
              0 1.2px 2px rgba(0, 0, 0, 0.518), 
              1px 0.6px 2px rgba(0, 0, 0, 0.096),
              -1px 0.6px 2px rgba(0, 0, 0, 0.094);
}

.mybtn-next{
  left: -30px;
}
.mybtn-prev{
  right: -30px;
}


.mybtn-next:hover i, .mybtn-prev:hover i{
  background: rgb(50, 46, 65);
  color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.217), 
              0 1.2px 2px rgba(0, 0, 0, 0.518), 
              1px 0.6px 2px rgba(0, 0, 0, 0.096),
              -1px 0.6px 2px rgba(0, 0, 0, 0.094);
}


/* Biography Section Ends Here  */

/* ===== Responsivenss starts here ================= */
/* Mobile menu styling */
#mobileMenu {
  display: none;
  background-color: #097886;
}

#mobileMenu a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

/* Media query for small screens */
@media screen and (max-width: 767px) {
  ul#navList {
    display: none;
  }

  ul#mobileMenu {
    display: block;
  }
  #lg-menu {
    display: none;
  }
  /* Centering the mobile menu button */
  #mobileMenuBtn {
    display: block;
    margin: 0 auto;
  }
}

/* ===== Responsivenss starts here ================= */
